@import "node_modules/bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

$default-fonts: "Roboto", sans-serif, Arial;
$light-text-color: rgb(209, 205, 199);
$dark-text-color: rgb(10, 10, 35);

body,
html {
    font-family: $default-fonts;
    height: 100%;
    margin: 0;
}

.light-background {
    background: #e8e8e8;
    color: $dark-text-color;
    .table {
        color: $dark-text-color;
    }
}

.dark-background {
    background: #181818;
    color: $light-text-color;
    .text-muted {
        color: rgb(158, 150, 137) !important;
    }
    .table {
        color: $light-text-color;
    }
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.background-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}

.flex-xy-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
